body {
    font-family: "Oxygen", monospace;
    background: #6c7b95;
    padding-top: 75px;
}

header {
    width: 100%;
}

.logo-image {
    height: 50px;
    width: 50px;
    background: url('../images/rabbit-3899900_640.png') no-repeat;
    background-size: contain;
}

.restaurantName-holder {
    margin-left: 15px;
    line-height: 50px;
}

.jumbotron {
    height: 250px;
    width: 100%;
    background: url('../images/easter-nest-2164820_1920.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
    text-align: center;
    opacity: .8;
    margin-top: 6px;
    margin-bottom: 3px;
}

footer a {
    color: #212529;
}

.support {
    text-align: center;
}

.btn {
    margin-bottom: 10px;
}

/*Mobile*/
@media (max-width: 768px) {
    body {
        padding-top: 75px;
    }

    .restaurantName-text span {
        display: none;
    }
}

/*Tablets*/
@media (min-width: 769px) and (max-width: 1199px) {}

/*Desktops*/
@media (min-width: 1200px) {}
