
		header li {
			list-style: none;
		}
		a:link, a:visited {
			text-decoration: none;
			background-color: #BDB76B;
			border: 1px solid #556B2F;
			color: #000000;
			display: block;
			width: 200px;
			text-align: center;
			margin-bottom: 1px;
		}

		a:hover, a:active {
			background-color: #FFFFF0;
			color: #000000;
		}

		header li:nth-child(1){
			font-size: 24px;
		}
		section div:nth-child(odd){
			background-color: #DCDCDC;
		}
		section div:nth-child(4):hover{
			background-color: #D2B48C;
			cursor: pointer;
		}

		section:hover div:nth-child(6){
			background-color: #EEE8AA;
		}